body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #555;
  padding: 10px;
}

.navbar a {
  color: #c31717;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #12c889;
}
